
<h2>Salut !</h2>

<p>Nouvelles dates pour les Mountain Men</p>

<ul>
  <% @concerts.last_found.each do |concert| %>


    <li><%= concert.date_day %> <%= concert.date_month %> <%= concert.date_year %> | <%= concert.city_name %> | <%= concert.department %> | <%= concert.location_name %></li>

  <% end %>
</ul>

